<div class="create container-fluid">

  <div class="create__inner">

    <div class="swiper create__content">

      <div class="create__list swiper-wrapper" aria-live="polite">
        <div class="create__item create__item--number swiper-slide">
          <span>репутации создаем с нуля</span>
        </div>
        <div class="create__item swiper-slide">
          <span>стратегии</span>
        </div>
        <div class="create__item swiper-slide">
          <span>кампании</span>
        </div>
        <div class="create__item swiper-slide">
          <span>медиапланы</span>
        </div>
        <div class="create__item swiper-slide">
          <span>интеграции</span>
        </div>
        <div class="create__item swiper-slide">
          <span>ux сайты</span>
        </div>
      </div>

    </div>

  </div>

</div>
