<header class="header container-fluid">

  <div class="header__inner">

    <div class="swiper header__content">

      <div class="header__tools-list swiper-wrapper" aria-live="polite">
        <div class="header__tools-item swiper-slide">
          <img
            src="/img/icons/logo-google-analytics.svg"
            width="160"
            height="50"
            alt="Logo Google Analytics"
            role="img"
          />
        </div>
        <div class="header__tools-item swiper-slide">
          <img
            src="/img/icons/logo-google-ads.svg"
            width="160"
            height="50"
            alt="Logo Google Ads"
            role="img"
          />
        </div>
        <div class="header__tools-item swiper-slide">
          <img
            src="/img/icons/logo-yametric.svg"
            width="160"
            height="50"
            alt="Logo Yandex metric"
            role="img"
          />
        </div>
        <div class="header__tools-item swiper-slide">
          <img
            src="/img/icons/logo-yadirect.svg"
            width="160"
            height="50"
            alt="Logo Yandex Direct"
            role="img"
          />
        </div>
        <div class="header__tools-item swiper-slide">
          <img
            src="/img/icons/logo-roistat.svg"
            width="160"
            height="50"
            alt="Logo Roistat"
            role="img"
          />
        </div>

        <div class="header__tools-item--txt swiper-slide">
          <span>используем множество инструментов</span>
        </div>
      </div>

    </div>

  </div>

</header>

<img
  src="/img/icons/logo-google-analytics.svg"
  width="160"
  height="50"
  alt="Logo Google Analytics"
  role="img"
  aria-label="Logo Google Analytics"
/>
