{{!-- <section class="container-fluid features">
  <div class="container features__content">

    <span class="features__dop-title section-dop-title">Why dlex</span>

    <h2 class="features__title section-title">Creativity is nothing but the way
      to solve new problems.
    </h2>

    <div class="swiper Features features__slider">
      <div class="swiper-wrapper">

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/pencil.svg"
              width="48"
              height="48"
              alt="pencil icon"
            />

            <h2 class="features__slide-title">
              UI Design
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              UX & Research
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/fast-delivery.svg"
              width="48"
              height="48"
              alt="fast delivery icon"
            />

            <h2 class="features__slide-title">
              Fast delivery
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/customer-support.svg"
              width="48"
              height="48"
              alt="customer support icon"
            />

            <h2 class="features__slide-title">
              Customer support
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

        <div class="features__slide-wrap swiper-slide">

          <div class="features__slide">
            <img
              class="features__img"
              src="/img/icons/research.svg"
              width="48"
              height="48"
              alt="research icon"
            />

            <h2 class="features__slide-title">
              Test Placeholder
            </h2>
            <p class="features__slide-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat.
            </p>
          </div>

        </div>

      </div>

    </div>

    <div class="features-controls">
      <div class="swiper-button swiper-button-next features__button-next"></div>
      <div
        class="swiper-pagination features__pagination swiper-pagination-bullets swiper-pagination-horizontal"
      ></div>
      <div class="swiper-button swiper-button-prev features__button-prev"></div>
    </div>

  </div>
</section> --}}
