<section class="container-fluid services">
  <div class="container services__top">

    <h2 class="services__top-title">услуги</h2>

    <p class="services__top-desc">Мы оказываем комплекс различных услуг и
      предоставляем широкий выбор пактов - от разовых до полного сопровождения
      группы проектов по всем направлениям.</p>

  </div>

  <div class="container swiper services__content">

    <div class="services__wrapper swiper-wrapper" aria-live="polite">

      <a href="#" class="services__block swiper-slide">

        <div class="services__block-top">
          <h2 class="services__block-title section-title">Контекст</h2>
          <span class="services__price">от 85 000 Р</span>
        </div>

        <ul class="services__block-list" aria-label="services navigation">
          <li class="services__item">
            Поисковые кампании в Директе и Google Ads
          </li>
          <li class="services__item">
            Кампании в РСЯ и КМС
          </li>
          <li class="services__item">
            Ретаргетинг и ремаркетинг
          </li>
          <li class="services__item">
            Видеореклама в YouTube и на площадках Яндекса и Google
          </li>
          <li class="services__item">
            Реклама в Google Merchant Center
          </li>
          <li class="services__item">
            Кампании с оплатой за конверсию
          </li>
        </ul>
      </a>

      <a href="#" class="services__block swiper-slide">
        <h2 class="services__block-title section-title">Таргет</h2>
        <span class="services__price">от 100 000 Р</span>
        <ul class="services__block-list" aria-label="services navigation">
          <li class="services__item">
            Аудит проекта и разработка медиаплана
          </li>
          <li class="services__item">
            Кампании в ВКонтакте и myTarget
          </li>
          <li class="services__item">
            Привлечение трафика на сайт или в группу социальной сети
          </li>
          <li class="services__item">
            Кампании Lead Ads для сбора заявок прямо в соцсетях
          </li>
          <li class="services__item">
            Настройка чат-бота в ВК для увеличении конверсии группы
          </li>
        </ul>
      </a>

      <a href="#" class="services__block swiper-slide" title="SEO">
        <h2 class="services__block-title section-title">SEO</h2>
        <span class="services__price">от 120 000 Р</span>
        <ul class="services__block-list" aria-label="services navigation">
          <li class="services__item">
            Ежемесячное планирование работ
          </li>
          <li class="services__item">
            Внутренняя и внешняя оптимизация
          </li>
          <li class="services__item">
            Ежедневный мониторинг позиций
          </li>
          <li class="services__item">
            Работа с репутацией
          </li>
          <li class="services__item">
            Ежемесячный отчет о результатах
          </li>
        </ul>
      </a>

    </div>

  </div>
</section>