@use "../variables" as *;
@use "../mixins" as *;

@forward "services__top";

.services {
  @include column;

  .services__block {
    @include column;

    height: auto;
  }

  // Content
  &__content {
  }

  &__block-wrap {
  }

  &__block {
    background-color: $gray;

    justify-content: space-between;

    transition: all 0.1s ease-in-out;

    max-width: 416px;
    min-height: 606px;

    padding: 36px 95px 41px 43px;

    @media (min-width: $lg) {
      &:hover,
      &:focus-visible {
        border-bottom: 1px solid $ultramarin-base;
        border-top: 1px solid $ultramarin-base;

        background-color: $dark;

        .services__price {
          font-size: 1.375rem;

          width: auto;
          height: auto;
        }

        .services__item {
          color: $white;
        }

        &::before {
          background: url("/img/icons/visit-arrow.svg") no-repeat;
          content: "";
          display: block;

          position: absolute;
          width: 147.5px;
          height: 48px;
          left: auto;
          right: 14px;
          top: 50px;
          bottom: 0;

          animation: toggle-opacity 0.1s ease-in 0s 1 forwards;
        }

        &::after {
          content: "На страницу";
          display: block;

          color: $white;
          font-size: 0.938rem;
          font-weight: 400;
          line-height: 130%;
          text-align: left;
          text-transform: uppercase;

          position: absolute;
          width: 147.5px;
          height: 48px;
          left: auto;
          right: 15px;
          top: 40px;
          bottom: 0;

          animation: toggle-opacity 0.1s ease-in 0s 1 forwards;
        }

        .services__item::before {
          color: $ultramarin-base;
        }
      }
    }

    @media (max-width: $lg) {
      border-bottom: 1px solid $ultramarin-base;
      border-top: 1px solid $ultramarin-base;

      background-color: $dark;

      gap: 25px;

      max-width: 300px;
      padding: 36px 25px 43px;

      min-height: 450px;
    }

    @media (max-width: $sm) {
      max-width: 265px;
      padding: 36px 15px 43px;
      min-height: 350px;
    }

    &:active {
      opacity: 0.5 !important;

      &::before {
        filter: invert(0.5);
      }

      &::after {
        color: $link-pressed;
      }
    }
  }

  &__block-top {
    @include column;
    gap: 16px;
  }

  &__block-title {
    color: $white;
  }

  &__price {
    animation: toggle-opacity 0.1s ease-in 0s 1 forwards;
    color: $ultramarin-base;
    display: flex;

    font-size: 1.375rem;
    line-height: 130%;
    text-align: left;

    @media (min-width: $lg) {
      width: 0;
      height: 0;
      font-size: 0;
    }

    @media (max-width: $lg) {
      font-size: 1.3rem;
    }

    @media (max-width: $sm) {
      font-size: 1rem;
    }
  }

  // List
  &__block-list {
    @include column;
    gap: 24px;
  }

  &__item {
    color: $gray-2;

    font-size: 1.375rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;

    &::before {
      content: "/";
      color: $dark;

      @media (max-width: $lg) {
        color: $ultramarin-base;
      }
    }

    @media (max-width: $lg) {
      color: $white;
      font-size: 1.25rem;
    }

    @media (max-width: $sm) {
      font-size: 1rem;
    }
  }
}
