@use "variables" as *;
@use "mixins" as *;

// Layout

html {
  cursor: url("/img/icons/cursor.svg"), auto;

  font-size: 1rem;
  scroll-behavior: smooth;

  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: $body-bg-color;

  color: $dark;

  font-family: $main-font;
  font-weight: normal;
  font-size: 1rem;

  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;

  width: 100%;
  margin: 0 auto;
  padding: 0;

  max-width: 100%;

  @media (max-width: $sm) {
    width: auto;
    margin: 0 15px;
  }
}

.container-fluid {
  display: flex;

  position: relative;

  max-width: 100%;
  width: 100%;
}

.container-centered {
  align-items: center;
  justify-content: center;
}

// Text
.section-title {
  font-size: 2.625rem;
  line-height: 130%;
  text-align: left;

  @media (max-width: $lg) {
    font-size: 1.75rem;
    line-height: normal;
  }

  @media (max-width: $sm) {
    font-size: 1.5rem;
  }
}

// Tags
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font;
  font-weight: 400;

  margin: 0;
  padding: 0;
  position: relative;
  color: $dark;
  letter-spacing: normal;
}

p {
  font-family: $main-font;

  margin: 0;
  word-break: break-word;
  font-weight: 400;

  &:first-child {
    margin-top: 0px;
  }
}

span {
  font-family: $main-font;
  font-weight: 400;
}

ul {
  font-size: 1rem;
  font-family: $main-font;

  list-style: none;
}

ul {
  margin: 0;
  padding: 0;

  font-weight: 400;

  @media (min-width: $md) {
    font-size: 1.15rem;
  }
}

hr,
img {
  border: none;
}

// Links
a {
  background-color: transparent;

  font-family: $main-font;
  text-decoration: none;
  color: $dark;

  &:focus-visible {
    outline: 3px solid $ultramarin-base;
  }
}

// Img

img {
  border-style: none;
}

// Swiper

.swiper-slide {
  animation: toggle-opacity 0.4s ease-in 0s 1 forwards;
  pointer-events: all;
}

.wrapper .swiper-wrapper {
  transition-timing-function: linear;
}

.wrapper .services__content {
  @media (max-width: $sm) {
    padding: 0 15px;
  }
}
