@use "variables" as *;
@use "mixins" as *;

.header {
  position: relative;

  &__inner {
    padding: 37px 0 33px 34px;

    overflow: hidden;
    width: 100%;

    @media (max-width: $lg) {
      padding: 16px 0;
    }
  }

  &__content {
  }

  &__tools-list {
  }

  &__tools-item {
    visibility: visible;

    max-width: 160px;
  }

  &__tools-item--txt {
    @media (min-width: $lg) {
      max-width: 961px;

      span {
        color: $ultramarin-base;

        font-style: italic;
        font-size: 3rem;
        line-height: 130%;
        text-align: left;

        @media (max-width: $lg) {
          font-size: 1.25rem;
        }
      }
    }
  }

  &__reader-desc {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
  }
}
