// grid
$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1399.98px;

// Fonts
$main-font: "Montserrat", system-ui, sans-serif;

// Bg
$body-bg-color: #121213;

// Colors
$dark: #121213;
$white: rgb(255, 255, 255);
$gray: rgb(242,242,242);

$ultramarin-base: #0B68F0;

// Links
$link-hover: rgb(163, 12, 51);
$link-pressed: gray;

// Box shadows

// Gradient
